:root {
    --cb-main: #fff;
    --c-main: #2e2f42;
    --c-main-second: #434455;
    --c-logo: #4d5ae5;
    --c-header-border: #e7e9fc;
    --c-hover-menu: #404bbf;
    --cb-hero: #2e2f42;
    --cb-hero-button: #4d5ae5;
    --cb-hero-button-hover: #404bbf;
    --c-hero: #fff;
    --cb-team: #f4f4fd;
    --c-portfolio-border: #e7e9fc;
    --c-footer-logo: #f4f4fd;
    --c-footer-text: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--c-main);
    background-color: var(--cb-main);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header section */
.header {
    /* max-width: 1440px; */
    margin: 0 auto;
    border-bottom: 1px solid var(--c-header-border);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

/* Logo */
.navbar-logo {
    /* display: flex;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 76px */
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-logo);
    margin-right: 76px
}

/*  Navbar menu */
.navbar .logo-right {
    color: var(--c-main);
}

.navbar-list-items {
    display: flex;
    gap: 40px;
    padding-right: 0;
}

.navbar-list-item {
    display: flex;
}

.navbar-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--c-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navbar-item-link:hover,
.navbar-item-link:focus {
    padding-bottom: 0;
    border-radius: 2px;
    border-bottom: 4px solid var(--c-hover-menu);
    color: var(--c-hover-menu);
}

/*  Address  */
.addrbar {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.addrbar-list-items {
    display: flex;
    gap: 40px;
    padding: 0;
}

.addrbar-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addrbar-item-link:hover,
.addrbar-item-link:focus {
    color: var(--c-hover-menu);
}


/* Main */
/* Hero section */
.section-hero {
    padding: 188px 0;
    background-color: var(--cb-hero);
}

.section-hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-hero-title {
    color: var(--c-hero);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.section-hero-button {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--c-hero);
    background-color: var(--cb-hero-button);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 48px;
}

.section-hero-button:hover,
.section-hero-button:focus {
    background-color: var(--cb-hero-button-hover);
}

/* Our Qualities */
/* Title H2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Sections title, image, descr styles */
.qualities-list-items {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

/* h3 */
.qualities-item-title {
    color: var(--c-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* P */
.qualities-item-descr {
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.qualities-list-item {
    width: calc((100% - 72px) / 4);
}

/*  Our Team */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--cb-team);
}

.team-title {
    color: var(--c-main);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list-items {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.team-list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--cb-main);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-item-person {
    padding: 32px 0;
}

.item-person-title {
    color: var(--c-main);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.item-person-descr {
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Our Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: var(--c-main);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list-items {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-product {
    padding: 32px 16px;
    border-top: none;
    border-left: 1px solid var(--c-portfolio-border);
    border-right: 1px solid var(--c-portfolio-border);
    border-bottom: 1px solid var(--c-portfolio-border);
}

.item-product-title {
    color: var(--c-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.item-product-descr {
    color: var(--c-main-second);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */
.footer {
    padding: 100px 0;
    background: var(--c-main);
}

.footer .logo {
    /* display: inline-block; */
    margin-right: 0;
    margin-bottom: 16px;
}
.footer .logo-right {
    color: var(--c-footer-logo);
}

.footer-descr {
    max-width: 264px;
    color: var(--c-footer-text);
}